
# Editor temp files
*.tmp
*.TMP

# Repository and IDE settings
/.settings/*
/.svn/*
*.iml
/.idea/*

# Build system input and output dirs
/lib/*
/bin/*
/target/*

# Bot generated dirs and files
/out/*
/report*.txt

# User popular dirs and configs
/tmp/*
/loginNirvanaBot.xml
/loginNirvanaTestBot.xml

# Some test code that I don't want to commit
/src/main/java/org/wikipedia/nirvana/test/*
/src/org/wikipedia/nirvana/test/*
