# Set the default behavior, in case people don't have core.autocrlf set.
#* text=auto
# I disable it now. I'm not sure we should enable auto.

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
COPYING text
NOTICE text
.classpath text
.gitignore text
.project text
*.ini text
*.java text
*.js text
*.MD text
*.properties text
*.sh text
*.txt text
*.xml text

# Declare files that will always have CRLF line endings on checkout.
# CMD are srcipts for Windows shell only.
# They hava crlf currently so let them always have it.
# I hope no one in Linux will touch them.
# UPDATE: Seeing very strange issues when rebasing branch
# that has no changes in *.cmd but git thinks it has,
# nevermind what "core.autocrlf" mode you are using
*.cmd text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.jar binary
